<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Crear un Cliente </title>
		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	</head>
	<body>
		<form th:acction="@{/create}" th:object="${cliente}" method="post" enctype="multipart/form-data">
			<label>Dni: </label>
			<input type="text" name="dni" th:field="*{dni}"/>
			<br>
			<label>Nombre: </label>
			<input type="text" name="nombre" th:field="*{nombre}"/>
			<br>
			<label>Apellido: </label>
			<input type="text" name="apellido" th:field="*{apellido}"/>
			<br>
			<label>Email: </label>
			<input type="text" name="email" th:field="*{email}"/>
			<br>
			<div id="editor">
				<label>Direccion: </label>
				<textarea  name="direccion" th:field="*{direccion}"
						   class="form-control"
						   placeholder="Ingrese la direccion" ></textarea>
				<br>
			</div>
			<label class="form-label"> Avatar</label>
			<input type="file" class="form-control" name="file"/>
			<br><br>
			<button type="submit">
				Crear cliente
			</button>
			<br>
		</form>
		<a th:href="@{/clientes}">Go back</a>
	</body>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		<script>
	  		var quill = new Quill('#editor', {
			theme: 'snow'
	 		 });
	</script>
</html>